.coin {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 15px 5px;
  margin: auto;
  width: 80%;
  font-size: 17px;
  min-width: 850px;
}
.coin_img {
  height: 55px;
  width: 55px;
  /* object-fit: contain;  */
}
.coin_img_symbol {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.coin_img_symbol img {
  margin-right: 20px;
}
.coin_name {
  flex: 0.2;
}
.coin_price_info,
.coin_marketCap_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex: 0.35; */
  margin: 0px 40px;
  text-transform: uppercase;
}
.coin_price_info {
  flex: 0.25;
}
.coin_marketCap_info {
  flex: 0.35;
}

.red {
  color: #f30b0b;
}
.green {
  color: #3df006e5;
}
